<div>
<mat-form-field>
  <input matInput #firstName placeholder="Fist Name">
</mat-form-field>
</div>
<div>
<mat-form-field>
  <input matInput #lastName placeholder="Last Name">
</mat-form-field>
</div>
<div>
<mat-form-field>
  <input matInput #email placeholder="eMail">
</mat-form-field>
</div>
<div>
<mat-form-field>
  <input matInput #appartmentSize placeholder="Appartment Size">
</mat-form-field>
</div>
<div>
<mat-form-field>
  <input matInput #appartmentRent placeholder="Appartment Rent">
</mat-form-field>
</div>

<div>
<mat-form-field>
  <mat-select placeholder="Districts" [formControl]="districts" multiple>
    <mat-option *ngFor="let district of districtsList | async" [value]="district">{{district.name}}, {{district.city.name}}</mat-option>
  </mat-select>
</mat-form-field>
</div>

<div>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(firstName.value,
                       lastName.value,
                       email.value,
                       appartmentSize.value,
                       appartmentRent.value);">
    add
  </button>
</div>
